{% extends "errors/base_error.html" %}

{% block error_icon %}
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-pause" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M20.942 13.018a9 9 0 1 0 -7.909 7.922" />
  <path d="M12 7v5l2 2" />
  <path d="M17 17v5" />
  <path d="M21 17v5" />
</svg>
{% endblock %}

{% block error_title %}429 - Too Many Requests{% endblock %}

{% block error_subtitle %}
Whoa there! You are clicking a bit too fast. Please wait a minute and try again.
{% endblock %}

{% block error_actions %}
<a href="{{ url_for('index') }}" class="btn btn-primary">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M5 12l14 0" />
    <path d="M5 12l6 6" />
    <path d="M5 12l6 -6" />
  </svg>
  Go Back to Dashboard
</a>
{% endblock %}